.form-check-input {
  --bs-form-check-bg: #fff;
  width: 1em;
  height: 1em;
  margin-top: 0.25em;
  vertical-align: top;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #dee2e6;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: auto;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  print-color-adjust: exact;
}

.form-check-input:focus {
  border-color: #86b7fe;
  border-radius: 25px;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.form-check-input:active {
  filter: brightness(90%);
}

.form-check-input[type="checkbox"] {
  border-radius: 0.25em;
}

.form-check .form-check-input {
  float: left;
  margin-left: -1.5em;
}

.input-container .form-check{
  height: -webkit-fill-available;
  margin: 0;
  padding: 0;
  width: 100%;
}

.form-check input{
  background-color: transparent;
}

.checkboxs-oque-fazer .form-check {
  align-items: center !important;
}

.checkboxs .form-check{
  width: max-content;
}

.section-form-input .form-check .form-control{
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 16px;
  height: 100%;
  outline: none;
  width: 100%;
}

.section-form-input .form-check{
  height: 50%;
  margin: 0;
  padding: 0;
  width: 100%;
}