.container-menu {
  display: flex;
  background-color: rgba(58, 177, 185, 1);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: all 1s;
  width: auto;
}

.container-menu:hover {
  background-color: #fff;
}

.container-menu:hover .menu-hamburguer{
  color: black;
}
