.modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100%;
  inset: 0;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.modal-container {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* height: 75%; */
  overflow-x: auto;
  padding: 20px;
  width: 85%;
}

.modal-container-title {
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-left: auto;
  position: fixed;
  width: 78%;
}

.modal-container-title h2 {
  font-size: 20px;
  font-weight: bold;
  transition: all 1s;
  width: auto;
}

.modal-container-title h2:hover {
  color: #3ab1b9;
}

.modal-container-title .search{
  align-items: center;
  border: 1px solid #3ab1b9;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 6px 4px;
  width: 30%;
  margin-bottom: 10px;
}

.search input{
  border: none;
  font-size: 16px;
  outline: none;
  width: 100%;
}

.modal-container svg {
  cursor: pointer;
  width: auto;
  transition: .5s;
}

.modal-container svg:hover{
  color: #3ab1b9;
}

.modal-container table {
  border-collapse: collapse;
  caption-side: bottom;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25rem;
  margin-top: 4rem;
  min-width: 100%;
  overflow: scroll;
  text-align: left;
}

.modal-container table thead tr th{
  background-color: transparent;
}

.modal-container table thead,
.modal-container table tbody tr {
  border-bottom: 1px solid #000;
  font-weight: 500;
}

.modal-container table thead th,
.modal-container table tbody tr td {
  padding: 16px 24px;
}

.modal-container table tbody tr td {
  white-space: nowrap;
}

.modal-container table tbody tr td svg {
  cursor: pointer;
  line-height: 2rem;
  height: 1.5rem;
  width: 1.5rem;
}

@media screen and (min-width: 768px) {
  .modal-container-title {
    border-bottom: 1px solid #353535;
    width: 80%;
  }

  .modal-container-title h2 {
    font-size: 32px;
  }

  /* .modal-container table {
    overflow: auto;
  } */
}
